body{
    padding-left: 12em ; background-color: #d8da3d; font-family: Arial; color: purple;
}

h1{
    font-family: "Comic Sans MS";
}

ul{
    margin: 0; padding: 5px; 
    width: 160px;
    list-style: none;
    background: #f5a9f2;
    position: fixed; top: 100px; left: 20px; 
}

li a{
    padding: .2em 0 .2em 1.5em;
    display: block;
    text-decoration: none;
    background: #f4f4f4;
}

li{
    border-top: 2px solid #ffffff;
}

li a:hover, li a:active{
    background: #f3f781;
}

li a:visited{
    color: black;
}



p{
    padding: 10px; margin-right: 30em; background-color: plum; border-style: solid; border-color: brown; border-width: 5px;
}

img{
    float: right; margin-right: 50px; width: 400px; height: 300px;
}