body{
    padding-left: 12em ; background-color: #d8da3d; font-family: Arial; color: purple;
}

h1{
    font-family: "Comic Sans MS";
}

ul{
    margin: 0; padding: 0; position: fixed ; position: fixed; top: 100px; left: 50px;
}

p{
    padding: 10px; margin-right: 30em; background-color: plum; border-style: solid; border-color: brown; border-width: 5px;
}

img{
    float: right; margin-right: 50px; width: 400px; height: 300px;
}